<% include ../partials/header.ejs %>
<div class="ui container main segment">
    <h1>Add a new Venue</h1>
    <form class="ui form" action="/venues" method="post">
        <div class="two fields">
            <div class="field">
                <label>Venue Name</label>
                <input type="text" name="venue[name]" placeholder="Name of the venue" required>
            </div>
            <div class="field">
                <label>Venue City</label>
                <input type="text" name="venue[city]" placeholder="City" required>
            </div>
        </div>
        <div class="field">
            <label>Venue Name</label>
            <input type="text" name="venue[name]" placeholder="Name of the venue" required>
        </div>
        <div class="field">
            <label>Venue City</label>
            <input type="text" name="venue[city]" placeholder="City" required>
        </div>
        <div class="field">
            <label>Venue Address</label>
            <input type="text" name="venue[address]" placeholder="Address of the venue" required>
        </div>
        <div class="field">
            <label>Venue City</label>
            <input type="text" name="venue[city]" placeholder="City" required>
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="venue[image]" placeholder="Image URL" required>
        </div>
        <div class="field">
            <label>Description</label>
            <textarea name="venue[description]" required></textarea>
        </div>
        <div class="field">
            <label>Venue Address</label>
            <input type="text" name="venue[address]" placeholder="Address of the venue" required>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Contact No.</label>
                <input type="text" name="venue[contact]" placeholder="Contact" required>
            </div>
            <div class="field">
                <label>days</label>
                <input type="text" name="venue[days]" placeholder="days" required>
            </div>
        </div>
        <div class="field">
            <label>Contact No.</label>
            <input type="text" name="venue[contact]" placeholder="Contact" required>
        </div>
        <div class="field">
            <label>Days</label>
            <input type="text" name="venue[days]" placeholder="days" required>
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
</div>

<% include ../partials/footer.ejs %>