<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mic Testing</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheet/main.css">
</head>

<body>
    <div class="ui fixed inverted menu">
        <div class="ui container"> 
            <div class="header item"><i class="microphone icon"></i> Mic Testing</div>
            <a href="/" class="item">Home</a>
            <a href="/venues" class="item">Venues</a>
            <a href="/venues/new" class="item">Add Venue</a>
            <div class="right menu">
                <a href="#" class="item">Logout</a>
                <a href="#" class="item">Sign in</a>
                <a href="#" class="item">Log in</a>
            </div>
        </div>
    </div>